<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="shortcut icon" href="../img/logo.png">
        
    <!--SEO-->
    <meta name="description" content="Sobre Ruedas es aventura sobre ruedas de motos, bicis, atvs, cuatris, mountain bikes, venta nuevas y usadas">
    <meta name="keywords" content="">    
    <meta name="robots" content="index,follow,all"> 
    <meta name="author" content="Hernan Dupuy"/>   
    <!--SEO-->

    <title>SOBRE RUEDAS - Aventura sobre ruedas - Condiciones de compra</title>

    <!--Bootstrap llamada al cdn -->
    <link href="../cdn/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="../cdn/css/flag-icon.min.css" rel="stylesheet">  
    
    <link rel="stylesheet" href="../assets/css/estilos.css"> 
    
    <link rel="preconnect" href="https://fonts.gstatic.com">         
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
 
<body>       
    <header>
        <div class="container-fluid" > 
            <div class="row">                 
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark menuBarra"  >
                    <div class="enBloque">
                     <h1><a class="navbar-brand logo" href="../index.html">SobreRuedas</a></h1>
                    </div>
                    <div class="enBloque">
                        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav" >
                        <ul class="navbar-nav navbar-nav--opcionesPrincipales">
                            <li class="nav-item active" >
                                <a class="nav-link menuItem" href="../index.html" >Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menuItem" href="../views/motos.html">Motos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menuItem" href="../views/cuatris.html" >ATVs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menuItem" href="../views/bicis.html">Bicicletas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menuItem" href="../views/blog.html">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menuItem" href="../views/contacto.html">Contacto</a>
                            </li>                                
                        </ul>
                        <ul class="navbar-nav" >
                            <li class="nav-item dropdown float-sm-right">
                                <a class="nav-link dropdown-toggle menuItem float-sm-right" href="../index.html" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-es"> </span> Español</a>
                                <div class="dropdown-menu float-sm-right" aria-labelledby="dropdown09">
                                    <a class="dropdown-item" href="../index.html#us"><span class="flag-icon flag-icon-us"> </span>  English</a>
                                    <a class="dropdown-item" href="../index.html#fr"><span class="flag-icon flag-icon-fr"> </span>  French</a>
                                    <a class="dropdown-item" href="../index.html#it"><span class="flag-icon flag-icon-it"> </span>  Italian</a>
                                    <a class="dropdown-item" href="../index.html#ru"><span class="flag-icon flag-icon-ru"> </span>  Russian</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline float-sm-right">
                            <input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
                        </form>
                    </div>                       
                </nav>
            </div>                
        </div>    
    </header>
    
    <main class="seccionPrincipal enBloque">   
        <div class="tituloProductos" style="padding:20px;">Condiciones de compra</div> 
        <div class="container-fluid grupo-textoLibre">
            <div class="row">                                                    
                <div class="col-12 textoLibre">                                                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In exercitationem fuga odio, quaerat obcaecati rem nisi qui. Voluptatum, repellat doloremque? Quo ad modi error pariatur, amet qui illo. Ut, sit!</p>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>
                    <h3>1. Este es el subtitulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>
                    <h3>2. Este es el subtitulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>          
                    <h3>3. Este es el subtitulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>          
                    <h3>4. Este es el subtitulo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim libero accusamus ad veniam velit impedit dignissimos sit debitis corrupti fugit quae ratione fuga consectetur ipsa nesciunt, distinctio nostrum similique quam!</p>                                        
                </div>                 
            </div>
        </div>
    </main> 
 
    <div style="background-image:url(../img/fondohuella.png);height: 3rem;">&nbsp;</div>
    
    <footer class="gridFooter">    
        <div class="container-fluid" >
            <div class="row">
                <div class="col-lg-4 col-sm-12 footPieNews">Novedades <input type="text" name="" id="" placeholder="  Ingresa tu e-mail"> <input type="button" value="¡Suscribirme!" data-toggle="modal" data-target="#modalSubscripcion"></div>
                <div class="col-lg-4 col-sm-12 footPieLogo">Sobre Ruedas</div>
                <div class="col-lg-4 col-sm-12 footPieRed">
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank" rel="noreferrer"><i class="fab fa-whatsapp logoRedSocial"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noreferrer" ><i class="fab fa-youtube logoRedSocial"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" rel="noreferrer" ><i class="fab fa-facebook logoRedSocial" ></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noreferrer" ><i class="fab fa-instagram logoRedSocial"></i></a>
                    <a href="https://www.twitter.com/" target="_blank" rel="noreferrer" ><i class="fab fa-twitter logoRedSocial"></i></a>
                </div>
            </div>
            
            <div class="row footerContenedorBajo">
                <div class="col-lg-3 col-12"><i class="far fa-copyright"></i> <span class="">CopyRight 2021 Todos los derechos reservados.</span> </div>
                <div class="col-lg-3 col-12"><a href="../views/condiciones.html">Condiciones de compra</a>  </div>
                <div class="col-lg-3 col-12"><a href="../views/politicas.html">Política de privacidad </a>     </div>
                <div class="col-lg-3 col-12"><a href="../views/mapadelsitio.html">Mapa del sitio  </a> </div> 
            </div>
        </div>
        <!-- Modal 1-->
        <div class="modal fade" id="modalSubscripcion" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Suscripción exitosa!</h4>
                </div>
                <div class="modal-body">
                    <div class="container">                       
                        <div class="row">
                            <div class="col">Gracias por tu Suscripción! Pronto te estaremos enviando nuestras mejores ofertas!</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Modal -->

    </footer>     
     <!--Javascript de bootstrap-->
     <script src="../cdn/js/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="../cdn/js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="../cdn/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>    
     
     <div id="menuBottom">
      <a href="#" class="subir_flotante"> <i class="fas fa-arrow-up subir_flotante-icon"></i></a>
     </div>   
 
     <script>
         onscroll = function() {
             var appended = false;
             var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
             if (scrollTop > 100) {
                 $("#menuBottom").css("display", "block");
                    appended = true;               
             } else {                
                 $("#menuBottom").css("display", "none");
                 appended = false;                
             }
             };
     </script>                    
</body>
</html>