<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="../img/logo.png">
     
    <!--SEO-->
    <meta name="description" content="Sobre Ruedas es aventura sobre ruedas de motos, bicis, atvs, cuatris, mountain bikes, venta nuevas y usadas">
    <meta name="keywords" content="Motos usadas, Motos Nuevas, MR Ranger, MR Pro, MRT 50 SM, TANGO 125I, NUUK URBAN 4, MRT 50 PRO">    
    <meta name="robots" content="index,follow,all"> 
    <meta name="author" content="Hernan Dupuy"/>   
    <!--SEO-->

    <title>SOBRE RUEDAS - Aventura sobre ruedas - Shop</title>
    
    <!--Bootstrap llamada al cdn -->
    <link href="../cdn/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="../cdn/css/flag-icon.min.css" rel="stylesheet">  
    
    <link rel="stylesheet" href="../assets/css/login.css"> 
    <link rel="stylesheet" href="../assets/css/estilos.css"> 

    <link rel="preconnect" href="https://fonts.gstatic.com">         
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 </head>

 
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
              <h1 class="navbar-brand logo" style="color: #bb1b1b !important;">SobreRuedas</h1>
            </div>

            <!-- Login Form -->
            <form action="shop.html" method="POST">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="clave">
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
            <a class="underlineHover" href="#">Olvidaste tu clave?</a>
            </div>

        </div>
    </div>	
</body>
</html>
