$fuenteBody: "Open Sans", Helvetica, Arial, sans-serif;
$fuenteMenuItem: 'Monda', sans-serif;
$fuenteLogo: 'Black Ops One', cursive;

$fuenteBanner: 'Monda', sans-serif;
$fuenteNotas: 'Monda', sans-serif;


$fuentePrincipal: 'Antonio', sans-serif; 
$fuenteProductos: 'Antonio', sans-serif; 
$fuenteDerechos: 'Antonio', sans-serif; 