.logo{ 
    color: $blanco !important;
    font-family: $fuenteLogo;     
    font-size: 3rem;
    font-weight: bold; 
}

.menuBarra{
    background-color: $colorMenuBarra !important;
}
.menuItem{
    color: $colorMenuItem !important;
    font-family: $fuenteMenuItem;
    font-size: 20px;  
}
.menuItemSeleccion{
    color: $colorMenuSeleccion !important;
}

.navbar-nav--opcionesPrincipales{
    @extend .logo;
    width: 90% !important;
}
